form {
  margin-top: 2%;
  margin-bottom: 2%;
}

#formSection {
  margin-left: 4%;
  margin-right: 4%;
}

select {
  min-width: 100%;
}

#SelectedOptions p {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 1%;
  font-size: small;
}

#info {
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 1%;
  font-size: small;
}
