# This is the ignore file

# ignore logs
*.log

# Ignore build from frontend
build

# Ignore ts output folders
dist

# Ignore node/npm/yarn related files
yarn.lock
node_modules
package-lock.json
yarn-error.log

# Ignore sensitive values
.env
gdct-app/backend/.env
gdct-app/frontend/.env
