
.subDasboard{
    max-width: 800px;
    max-height: 1000px;
    
    position: flex;
    margin:0 auto;

}

.subDasboardTitle{
    background-color: #3f51b5;
    overflow: auto;
    
    text-align: center;
    height: 50px;
}

.subright{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    height: 100%;
    width: 33.33%;
    float: right;
}

.subleft{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    height: 100%;
    width: 33.33%;
    float: left; 
    
}

.rowContainer{
    background-color: gray;
    overflow: auto;
    
    text-align: center;
    height: 50px;
}

.rowRight{
    display: flex;
    justify-content: center;
    align-items: center;
 
    color: white;
    height: 100%;
    width: 33.33%;
    float: left;
}

.rowLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    height: 100%;
    width: 33.33%;
    float: left; 
}

.rowMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-align: center;
    float: left;
    height: 100%;
    width: 33.33%;
   
    
}