.title {
    position: relative;
    margin-top: 1%;
    margin-left: 0%;
}

.lastName {
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
}

.firstName {
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
}

.phoneNumber {
    position: relative;
    margin-top: 1%;
    margin-left: 0%;
}

.ext {
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
}

.email {
    position: relative;
    margin-top: 1%;
    margin-left: 0%;
}

.username {
    position: relative;
    margin-top: 1%;
    margin-left: 0%;
}

.modifyUserInfo {
    &__buttonBox {
        position: relative;
        margin-top: 20%;
        margin-left: 0%;
    }

    &__container {
        width: 100%;
        height: 70%;
        flex-flow: column nowrap;
        padding-top: 5px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        background-color: #f2f5f7;
        text-align: left;
    }
}

.formRow {
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: flex-start;
}

.formButton {
    width: 100%;
    padding-top: 1%;
    margin-left: 0%;
    position: relative;
}